@{
    ViewBag.Title = "Boute";
    ViewBag.Message = "Plus d'informations sur les gens qui ont fait cette application.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Créé par un groupe de 3 personnes qui sont ou étaient dans une formation pour devenir les meilleurs programmeurs.
    Tout dépend de quand est-ce que vous lisez ce About qui n'est jamais lu par personne.
</p>
