@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Quizz</h2>
        <p>Permet la gestion des quizz. (Création, Details, etc)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/Quizz">Quizz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>Permet de gérer les questions. (Création, Edition, Details)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/Questions/questions">Questions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Permet de gérer les contacts. (Création, Edition, Details)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/Contact">Contact &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Technologies</h2>
        <p>Permet de gérer les technologies. (Création, Edition, Details)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/Technologies">Technologies &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Difficulties</h2>
        <p>Permet de gérer les difficultés.(Création, Edition, Details)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/Difficulties">Difficulties &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Difficulty Rates</h2>
        <p>Permet de gérer les Taux de questions par difficulté. (Création, Edition, Details)</p>
        <p><a class="btn btn-default" href="http://localhost:52443/DifficultyRates">Difficulty Rates &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Questions Types</h2>
        <p>Permet de gérer les Types de Questions (Création, Details).</p>
        <p><a class="btn btn-default" href="http://localhost:52443/TypeQuestions">Questions Types &raquo;</a></p>
    </div>
</div>